<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
        <title>Spring Boot Blog</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/github.css}"/>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-primary">
            <div class="container">
                <span class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span th:text="#{web.site.title}">Site Title</span></a>
                </span>

            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1 class="jumbotronTitle">Jumbotron Title</h1>

                <p >Jumbotron Subtitle</p>

                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>

        <div class="container">

        </div>

        <div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
    </body>
</html>